@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf) format(opentype);
}

*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    background-color: rgb(179, 253, 179);
}

strong{
    color:  rgb(8, 125, 8);
    font-weight: bold;
}

h1 {
    margin: 0;
    font-size: 1.5em;
    font-family: 'idroid',Arial, Helvetica, sans-serif;
    color:  rgb(8, 125, 8);
    font-weight: normal;
    font-style: normal;
}

h2 {
    margin: 0;
    font-size: 1.5em;
    font-family: 'idroid',Arial, Helvetica, sans-serif;
    color:  rgb(8, 125, 8);
    font-weight: normal;
    font-style: normal;
}

h3{
    margin: 0 -10px;
    padding: 5px 10px;
    font-size: 0.7em;
    color: rgb(162, 191, 162);
    background-color: rgb(13, 170, 13);
    border-radius: 10px 10px 0 0;
}

p{
    font-size: 0.7em;
    color:  rgb(3, 46, 3);
    text-align: justify;
    text-indent: 30px;
}

header{
    height: 160px;
    background-image: linear-gradient(to top , rgb(5, 79, 5) 5%,rgb(13, 170, 13));
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.486);
}

#titulo-header{
    font-family: Arial, Helvetica, sans-serif;    
    padding-top: 40px ;
    color: white;
}

#sub-titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 20px auto;
    font-size: 0.7em;
    color: white;
}

.txt-header{
    text-align: center;
}

nav{
    margin-top: 38px;
    margin-left: 10px;
    font-size: 0.7em;
}

.link-nav{
    text-decoration: none;
    color: rgb(162, 191, 162);
    border-radius: 4px;
    padding: 5px;
}

.link-nav:hover{
    background-color: rgb(13, 170, 13);
}





picture{
    display: flex;
    justify-content: center;
}

#video{
    background-color: rgb(5, 79, 5);
    display: flex;
    justify-content: center;
    margin: 0 -10px;
    padding: 10px 0;
}

section#main-section{
    width: 70vw;
    margin: auto;
    background-color: white ;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.486);
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.sub-titulo-main{
    background-image: linear-gradient(to right ,rgb(189, 239, 189) ,rgb(255, 255, 255));
}

.txt-link{
    text-decoration: none;
    padding: 1px 5px;
    color: rgb(8, 125, 8);
    font-weight: bolder;
    background-color: rgb(189, 239, 189);
}

.txt-link:hover{
    text-decoration: underline;
}

.txt-link::after{
    content: ' ✈';
}





#sec-final{
    background-color: rgb(206, 255, 206);
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
    margin-top: 10px;
}

ul{
    font-size: 0.7em;
    margin: 0;
    padding: 0 15% 0 0;
}

#list{
    display: flex;
    align-items: center;
    padding: 0 10px;
}

abbr{
    text-decoration: underline;
}





footer{
    background-color: rgb(5, 79, 5);
}

#txt-rodape{
    font-size: 0.6em;
    text-align: center;
    color: rgb(162, 191, 162);
    margin: 10px 0 0 0;
    padding: 5px;
}